EMAIL_PROVIDER:FROM = def
EMAIL_PROVIDER:PASSWORD = def
EMAIL_PROVIDER:HOST = def
EMAIL_PROVIDER:PORT = def

REDIS:ADDRESS = def
REDIS:CHANNEL_NAME = def

TRUNK:PREFIX_LEN = 1
TRUNK:ADDRESS = def

TEST_SECTION:TEST_VAR = test